<h1 (click)="navegarPara('home')">Sistema para Tormenta RPG v0.0</h1>
<div class="columns heya">
    <button class="button column" (click)="navegarPara('usuario/list')">listar usuarios</button>
    <button class="button column" (click)="navegarPara('usuario/form')">form usuarios</button>
    <!-- <buclass="button column" tton (click)="navegarPara('principal/aventura/listar')">listar aventuras</button>
    <button class="button column" (click)="navegarPara('principal/aventura/form')">form aventuras</button> -->
    <button class="button column" (click)="navegarPara('rpg/list')">list rpg</button>
    <button class="button column" (click)="navegarPara('rpg/form')">form rpg</button>
    <button class="button column" (click)="navegarPara('raca/list')">list raca</button>
    <button class="button column" (click)="navegarPara('raca/form')">form raca</button>
</div>

<div class="columns heya">
    <button class="button column" (click)="navegarPara('role/list')">list partida</button>
    <button class="button column" (click)="navegarPara('role/form')">form partida</button>
    <button class="button column" (click)="navegarPara('atributo/list')">list atributo</button>
    <button class="button column" (click)="navegarPara('atributo/form')">form atributo</button>
    <button class="button column" (click)="navegarPara('pericia/list')">list pericia</button>
    <button class="button column" (click)="navegarPara('pericia/form')">form pericia</button>
</div>
<div class="columns heya">
    <button class="button column" (click)="navegarPara('armaduraEscudo/list')">list armadura/escudo</button>
    <button class="button column" (click)="navegarPara('armaduraEscudo/form')">form armadura/escudo</button>
    <button class="button column" (click)="navegarPara('habilidades-raca/list')">list habilidade de raça</button>
    <button class="button column" (click)="navegarPara('habilidades-raca/form')">form habilidade de raça</button>
    <button class="button column" (click)="navegarPara('habilidade/list')">list habilidade</button>
    <button class="button column" (click)="navegarPara('habilidade/form')">form habilidade</button>
</div>

<!-- <div class="columns heya">
    <button class="button column" (click)="navegarPara('armas/list')">list armas</button>
    <button class="button column" (click)="navegarPara('armas/form')">form armas</button>
    <button class="button column" (click)="navegarPara('talentosCombate/list')">list talentos de combate</button>
    <button class="button column" (click)="navegarPara('talentosCombate/form')">form talentos de combate</button>
    <button class="button column" (click)="navegarPara('talentosMagia/list')">list talentos de magia</button>
    <button class="button column" (click)="navegarPara('talentosMagia/form')">form talentos de magia</button>
</div> -->
<div class="page-content" style="border-top: 1px solid #ccc; margin-top: 15px; padding-top: 50px;">
    <router-outlet></router-outlet>
</div>