<div class="casca">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <div *ngIf="form.get('nome').invalid"> Minimo: 2 caracters </div> -->
  <div class="field">
    <label class="label">Nome da Habilidade de Raça</label>
    <div class="control">
      <input class="input" type="text" formControlName="nome" placeholder="Nome da Habilidade de Raça">
    </div>
  </div>
  <div class="field">
    <label class="label">Descrição</label>
    <div class="control">
      <textarea class="textarea" formControlName="descricao" placeholder="Descrição"></textarea>
    </div>
  </div>
  <div class="field">
    <label class="label">Tipo Habilidade</label>
    <div class="select">
        <select formControlName="tipoHabilidade">
            <option value="1">status</option>
            <option value="2">skill</option>
        </select>
    </div>
  </div>
  <div class="field">
    <label class="label">Valor</label>
    <div class="control">
      <input class="input" type="text" formControlName="valor" placeholder="Valor">
    </div>
  </div>
  <div class="field">
    <label class="label">Skill</label>
    <div class="control">
      <input class="input" type="text" formControlName="skill" placeholder="Skill">
    </div>
  </div>
  <div class="field">
    <label class="label">Raça</label>
    <div class="select">
        <select formControlName="raca">
            <option *ngFor="let raca of lstRacas" [ngValue]="raca">{{raca.nome}}</option>
        </select>
    </div>
  </div>
  <div class="field">
    <label class="label">Atributos</label>
    <div class="control" *ngFor="let atributo of atributos">
      <input type="checkbox" formControlName="atributo" >
      <label >{{atributo.nome}}</label>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">Salvar</button>
    </div>
  </div>
</form>
</div>