<div class="casca">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <div *ngIf="form.get('nome').invalid"> Minimo: 2 caracters </div> -->
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input class="input" type="text" formControlName="nome" placeholder="Nome">
      </div>
    </div>
    <div class="field">
      <label class="label">Login</label>
      <div class="control">
        <input class="input" type="text" formControlName="login" placeholder="Login">
      </div>
    </div>
    <div class="field">
      <label class="label">Senha</label>
      <div class="control">
        <input class="input" type="password" formControlName="senha" placeholder="Senha">
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" formControlName="email" placeholder="Email">
      </div>
    </div>
    <div class="field">
      <button class="button is-primary" type="submit">Salvar</button>
    </div>
  </form>
</div>