@import 'css/Base/base.scss';
@import 'css/Layout/layout.scss';
@import 'css/Module/module.scss';
@import 'css/State/state.scss';
@import 'css/Theme/theme.scss';



@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

$orange: #f2871c;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $orange;
$link: $orange;
/*$grey-dark: $brown;
$grey-light: $beige-light;*/

@import "../node_modules/bulma/bulma.sass";

.casca{
    width:500px;
    margin: 0 auto;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.3em;
}

.heya{
    margin-top: 0px;
    margin-bottom: 0px;

    .column{
        padding: 0px;
    }
}